/* Form CSS */

/**
 * Main containers and layouts
 */
.formPage {
  background-color: #F5F6FA;
  padding-top: 0;
  position: relative;
  z-index: 0;
}

.formPage .formWrapper {
  width: 800px;
  margin: 0 auto;
}


/**
 * Typography
 *
 * FIXME (joshua): There should be some consistency throughout the site.
 * Change this to be consistent.
 */
.formPage h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}

.formPage h2 {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.75;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2em;
}


/**
 * Background images
 */
.formBgImage {
  position: absolute;
  z-index: -1;
}

.formBgImage.formIcon {
  right: 1em;
}

.formBgImage.bgCircleBottom {
  bottom: 0;
}

.formBgImage.bgCircleLeft {
  top: 10em;
}

.formBgImage.bgCircleRight {
  right: 5em;
  top: 60%;
}


/**
 * Form
 */
.formPage form {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.formPage form .inputGroup {
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
  height: 72px;
}

.formPage form .formControlGroup {
  margin: 1.5em 0 0 11em;
}

.formPage form .button.right {
  float: right;
}

.formPage form fieldset {
  border: none;
  padding: 0;
}

.formPage form legend {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.75em;
}

.formPage form label {
  font-weight: bold;
  width: 100%;
  font-size: 0.8em;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  display: block;
}

.formPage form input,
.formPage form select {
  display: block;
  margin: .25em 1em .25em 0;
  width: 95%;
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: normal;
  font-size: 1em;
}

.formPage form input:focus,
.formPage form select:focus {
  outline: none !important;
  border-color: #39298C;
  border: 1px solid #39298C;
}

/* Customizing the select and adding a chevron for dropdown */
.formPage form .selectWrapper {
  position: relative;
}

.formPage form .selectWrapper::after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.35em;
  width: 0.35em;
  position: relative;
  vertical-align: top;
  transform: rotate(135deg);
  left: 90%;
  top: -2em;
}

.formPage form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  cursor: pointer;
}

.formPage form select::-ms-expand {
  display: none;
}


@media (max-width: 800px) {
  .formPage .formWrapper,
  .formPage form .inputGroup,
  .formPage form input,
  .formPage form select {
    width: 100%;
  }

  .formPage form .selectWrapper::after {
    left: 95%;
    top: -2em;
  }
}
